/* Estilos generales */
body {
    /* Configuración basica del cuerpo del documento */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo gris claro */
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    height: 100%;
}

/* Footer */
footer {
    /* Estilos para el pie de página */
    background-color: #343a40; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Navbar */
.navbar {
    /* Estilos para la barra de navegación */
    background-color: #343a40 !important; /* Fondo gris oscuro */
}

.navbar-brand, .navbar-toggler, .navbar-nav .nav-link {
    /* Estilos para elementos de la barra de navegación */
    color: #fff !important; /* Texto blanco */
    font-weight: bold;
}

.dropdown-menu {
    /* Estilos para menu desplegable */
    background-color: rgba(110, 107, 107, 0.6); /* Fondo semi-transparente */
}

.dropdown-item {
    /* Estilos para elementos del menú desplegable */
    color: #fff !important; /* Texto blanco */
}

.dropdown-item:hover {
    /* Estilos al pasar el mouse sobre elementos del menu desplegable */
    color: #000 !important; /* Texto negro */
}

/* Card */
.card {
    /* Estilos para tarjetas */
    margin: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    /* Estilos al pasar el mouse sobre tarjetas */
    transform: scale(1.05);
}

.card img {
    /* Estilos para imágenes dentro de tarjetas */
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover .card-body {
    /* Estilos al pasar el ratón sobre el cuerpo de la tarjeta */
    display: block;
}

.card.expanded {
    /* Estilos para tarjetas expandidas */
    transform: scale(1.2);
    z-index: 1;
}

/* Custom Carousel */
.custom-carousel {
    /* Estilos para carruseles personalizados */
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Container */
.container {
    /* Estilos para contenedor principal */
    margin-top: 70px;
}

/* Heading 2 */
h2 {
    /* Estilos para encabezados de nivel 2 */
    color: #343a40;
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
}

/* Button Outline Success */
.btn-outline-success {
    /* Estilos para botones de contorno de exito */
    color: #fff;
    border-color: #0056b3;
}

.btn-outline-success:hover {
    /* Estilos al pasar el raton sobre botones de contorno de exito */
    background-color: #007bff;
    color: #fff;
    border-color: #fff;
}

/* Offcanvas */
.offcanvas {
    /* Estilos para paneles laterales (offcanvas) */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    width: 30%;
}

.offcanvas-title {
    /* Estilos para el titulo en paneles laterales */
    color: #fff;
}

/* Navbar Links */
.navbar-nav {
    /* Estilos para enlaces de la barra de navegacion */
    text-align: center;
}

.navbar-nav a {
    /* Estilos para enlaces de la barra de navegacion */
    color: #fff !important; /* Texto blanco */
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    /* Estilos al pasar el raton sobre enlaces de la barra de navegacion */
    color: #007bff !important; /* Texto azul */
}

/* Estilos boton */
.btn {
    /* Estilos generales para botones */
    background-color: #007bff;
    border-color: #007bff;
}

.btn:hover {
    /* Estilos al pasar el raton sobre botones */
    color: #fff;
    background-color: #0056b3;
}

/* Close boton */
.btn-close {
    /* Estilos para el botón de cierre */
    color: #fff;
}

.btn-close:hover {
    /* Estilos al pasar el ratón sobre el botón de cierre */
    color: #000000;
}

/* FAQ */
.faq-item {
    /* Estilos para elementos de preguntas frecuentes */
    margin-bottom: 20px;
}

.faq-answer {
    /* Estilos para respuestas de preguntas frecuentes (inicialmente ocultas) */
    display: none;
}

/* Social Icons */
#social-btn {
    /* Estilos para el botón de redes sociales */
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

#social-btn:hover {
    /* Estilos al pasar el mouse sobre el boton de redes sociales */
    background-color: #0056b3;
    transform: scale(0.9);
}

.social-icons {
    /* Estilos para iconos de redes sociales (inicialmente ocultos) */
    display: none;
    position: fixed;
    bottom: 60px;
    left: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s;
}

.social-icons a {
    /* Estilos para enlaces de redes sociales */
    text-decoration: none;
    color: #007bff;
    margin: 5px;
    transition: color 0.3s;
}

.social-icons a:hover {
    /* Estilos al pasar el raton sobre enlaces de redes sociales */
    color: #0056b3;
}


