/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    /* Cambié el color de fondo a un gris más claro */
    font-family: 'Arial', sans-serif;
    /* Utilicé una fuente más común */
    line-height: 1.2;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Navbar */
.navbar {
    background-color: #343a40 !important;
    /* Asegura que el fondo sea oscuro */
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler {
    color: #fff;
    border: 1px solid #fff;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #343a40;
    /* Color de fondo del dropdown */
}

.dropdown-item {
    color: #fff !important;
    /* Color del texto del dropdown item */
}

.dropdown-item:hover {
    color: #000 !important;
}

/* Card */
.card {
    margin: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Custom Carousel */
.custom-carousel {
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Container */
.container {
    margin-top: 70px;
    /* Ajusta el margen para evitar solapamiento con el navbar */
}

/* Heading 2 */
h2 {
    color: #343a40;
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
}

/* Button Outline Success */
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

/* Offcanvas */
.offcanvas {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo semi-transparente */
    width: 30%;
    /* Ancho personalizado */
}

.offcanvas-header {
    border-bottom: none;
    /* Sin borde en la cabecera */
}

.offcanvas-title {
    color: #fff;
    /* Color del título */
}


.navbar-nav {
    text-align: center;
    /* Centrar elementos del menú */
}

.navbar-nav a {
    color: #fff !important;
    /* Color del texto del menú */
}

.btn-close {
    color: #fff;
    /* Color del botón de cierre */
}

.btn-close:hover {
    color: #fff;
    /* Color del botón de cierre al pasar el ratón */
}

.faq-item {
    margin-bottom: 20px;
}

.faq-answer {
    display: none;
}

